# export PATH=$(dirname $PWD)/clang/bin:$PATH
# export LD_LIBRARY_PATH=$HOME/.local/lib/x86_64-linux-gnu:$LD_LIBRARY_PATH
# export PATH=$HOME/Dropbox/Research/CodeTesting/Code/clang-4.0/bin:$PATH
export PATH=$(dirname $(dirname $PWD))/clang-4.0/bin:$PATH
export AFL_I_DONT_CARE_ABOUT_MISSING_CRASHES="1"
export AFL_SKIP_CPUFREQ="1"
export CC=clang
export CXX=clang++
if [ ! -d "$PWD/.git" ]; then
    echo ".git not exists, configure bare git repository"
    export GIT_DIR=$HOME/GitHub/CodeTesting/perffuzz.git
    export GIT_WORK_DIR=$PWD
fi
